

.jumbotron{
   background-color: #4caf50;
}
.jumbotron-title h1 {
	letter-spacing: 5px;
	color: grey;
	text-shadow:3px 3px yellow; 

}
.panel-heading {
	text-align: center;
}


.panel-body img {
	height: 200px;
	width: 33%;
	margin: 1%;
}
.container-panel img {
	height: 200px;
	width: 80%;
	display: inline-flex;
}
#info{
	
	align-content: center;
	display: inline block;
}
.answer{
	width: 400px;
	height: 40px;
	display: inline block;
	
	font-family: Chewy;
	letter-spacing: 2px;
	align-content: center;
	
}